* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 12px;
}
.container {
    margin: 0 auto;
    width: 1000px;
}
    
.homepage  {
    width: 100%;
    .header {
        min-height: 60px;
        background-color: #1e2121;
        .container {
            margin: 0 auto;
            width: 1000px;
            .mainTitle {
                color: #fff;
                font-size: 24px;
                padding: 15px 0;
            }
        }
    }
    .menuBar {
        height: 30px;
        background-color: #ff4705;
        display: flex;
        align-items: center;
        .menuList {
            display: flex;
            flex-direction: row;
            justify-content: left;
            border-left: 1px solid #fff;
            .menuItem {
                align-self: center;
                align-content: center;
                color: #fff;
                border-right: 1px solid #fff;
                padding: 8px 20px;
                height: 30px;
                &:hover {
                    background-color: #d13008;
                    font-size: 14px;
                    padding: 7px 16px;
                    transition: all;
                    transition-duration: 0.2s;
                }
            }
        }

    }
    .tableR {
        font-size: 15px;
        color: rgb(10, 50, 110);
        padding: 10px 0px;
    }
}

.eventTable {
    margin-top: 10px;
    border: 3px solid rgb(10, 50, 110);
    width: 100%;
	.eventTableHead {
        background-color: rgb(60, 118, 156);
       .eventTableHeadRow {
            th {
                padding: 7px;
                padding-bottom: 3px;
                color: #fff;
                border: 1px solid rgb(94, 160, 204);
                .selectContainer {
                    margin-top: 2px;
                    .select {
                        font-size: 12px;
                        padding: 2px 0px;
                        margin: 5px 0px;
                        width: 80px;
                        background-color: rgb(60, 118, 156);
                        color: #fff;
                        border: transparent;
                        border-bottom: 1px solid #fff;
                        border-left: 1px solid #fff;
                    }
                }
            }
       }
    }
    .eventTableBody {
        tr {
            border-bottom: 2px solid rgb(11, 112, 179);
            td {
                padding: 8px 5px;
                border: 1px solid rgb(16, 112, 177);
                text-align: center;
            }
            .eventID {
                font-weight: normal;
            }
            .eventName {
                font-weight: bold;
            }
            .eventType {
                font-style: italic;
            }
            .eventCity {
                font-weight: bold;
                text-transform: uppercase;
            }
        }
        tr:nth-child(even) {
            background: #f5f5f5;
        }
    }
    .eventTableFooter {
        .lastTableRow {
            border: 3px solid rgb(10, 50, 110);
            .lastTableRowCell {
                padding: 7px;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;      
                color: #b12300          
            }
        }
    }

}
